body{font-family: 'Roboto', sans-serif; background: #FFF;color:#434455; }
.logo {font-family: 'Raleway', sans-serif;}
a{text-decoration: none;}
ul {list-style-type: none;}
h1{color:  #FFF;
	text-align: center;
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.07; 
	letter-spacing: 1.12px;
text-transform: capitalize;}

h2{collor:#2e2f42;
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	text-transform: capitalize;}
	
h3{font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.2; 
	letter-spacing: 0.4px;
	color: #2e2f42}
p{color:  #434455;
	font-size: 16px;
	line-height: 1.5; 
	letter-spacing: 0.32px;}
 .link {color:#2E2F42;} 
.link:hover, .link:focus{color:#404BBF;}
.link:active{color:#404BBF;}

.logo{font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5}
	.Studio_head{color: #2E2F42;}
	.Studio{color:#f4f4fd;}

.nav{font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42 

}
address{font-style: normal;}
.adrs{ line-height: 1.5;  
	letter-spacing: 0.02em;
	color: #434455;

}
.adrs:hover, .adrs:focus{color:#404BBF;}

 .section-one {background-color:#2E2F42;
	/* width: 1440px;
height: 600px;
flex-shrink: 0; */
}

.button{cursor: pointer;
	background-color: #4D5AE5; 
	color: #FFFFFF;
	/* box-shadow: 0px 4px 4px 0px #00000026;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px;
	text-align: center;
	display: inline-flex;
	padding: 16px 32px;
	align-items: flex-start;
	gap: 10px; */
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
;}

.button:hover, .button:focus{background-color: #404BBF; 
	}
.title_emt{color: #FFFFFF;}

.section-team {background-color:#F4F4FD; color: #2e2f42; text-align: center;
	}
.user_list {background-color: #FFFFFF;}

footer {background-color: #2E2F42; }
/* .ftr-link {color: #FFFFFF;} */

.studio{color:#f4f4fd;}
.p-ftr {color: #F4F4FD;}